
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>

    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/font/demo.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-waimai"></i>
                    <div class="name">外卖</div>
                    <div class="fontclass">.icon-waimai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianyingpiao"></i>
                    <div class="name">电影票</div>
                    <div class="fontclass">.icon-dianyingpiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-more"></i>
                    <div class="name">more</div>
                    <div class="fontclass">.icon-more</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-licai"></i>
                    <div class="name">理财</div>
                    <div class="fontclass">.icon-licai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bijia"></i>
                    <div class="name">比价</div>
                    <div class="fontclass">.icon-bijia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinyongqiahuankuan"></i>
                    <div class="name">信用卡还款</div>
                    <div class="fontclass">.icon-xinyongqiahuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuidianmei"></i>
                    <div class="name">水电煤</div>
                    <div class="fontclass">.icon-shuidianmei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujichongzhi"></i>
                    <div class="name">手机充值</div>
                    <div class="fontclass">.icon-shoujichongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jipiao"></i>
                    <div class="name">机票</div>
                    <div class="fontclass">.icon-jipiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caipiao"></i>
                    <div class="name">彩票</div>
                    <div class="fontclass">.icon-caipiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kuaidi"></i>
                    <div class="name">快递</div>
                    <div class="fontclass">.icon-kuaidi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfont12306"></i>
                    <div class="name">12306</div>
                    <div class="fontclass">.icon-iconfont12306</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huoche"></i>
                    <div class="name">火车 </div>
                    <div class="fontclass">.icon-huoche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-more1"></i>
                    <div class="name">more</div>
                    <div class="fontclass">.icon-more1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiayou"></i>
                    <div class="name">加油</div>
                    <div class="fontclass">.icon-jiayou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huoche1"></i>
                    <div class="name">火车</div>
                    <div class="fontclass">.icon-huoche1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodefankui"></i>
                    <div class="name">我的反馈</div>
                    <div class="fontclass">.icon-wodefankui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baoxian"></i>
                    <div class="name">保险</div>
                    <div class="fontclass">.icon-baoxian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chexian"></i>
                    <div class="name">车险</div>
                    <div class="fontclass">.icon-chexian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chaoshi"></i>
                    <div class="name">超市</div>
                    <div class="fontclass">.icon-chaoshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bijiachaxun"></i>
                    <div class="name">比价查询</div>
                    <div class="fontclass">.icon-bijiachaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiche"></i>
                    <div class="name">汽车</div>
                    <div class="fontclass">.icon-qiche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiudian"></i>
                    <div class="name">酒店</div>
                    <div class="fontclass">.icon-jiudian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">213收藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xihuan-xianxing"></i>
                    <div class="name">213喜欢-线性</div>
                    <div class="fontclass">.icon-xihuan-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang-xianxing"></i>
                    <div class="name">213收藏-线性</div>
                    <div class="fontclass">.icon-shoucang-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xihuan"></i>
                    <div class="name">213喜欢</div>
                    <div class="fontclass">.icon-xihuan</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
