
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    

    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/font/demo.css">
    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/font/iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            dddd
                <li>
                <i class="icon iconfont icon-xiyiji"></i>
                    <div class="name">洗衣机</div>
                    <div class="fontclass">.icon-xiyiji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dengshanxie"></i>
                    <div class="name">登山鞋</div>
                    <div class="fontclass">.icon-dengshanxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bingxiang"></i>
                    <div class="name">冰箱</div>
                    <div class="fontclass">.icon-bingxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingerche"></i>
                    <div class="name">婴儿车</div>
                    <div class="fontclass">.icon-yingerche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-Txu"></i>
                    <div class="name">T恤</div>
                    <div class="fontclass">.icon-Txu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lvguo"></i>
                    <div class="name">铝锅</div>
                    <div class="fontclass">.icon-lvguo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neiyi"></i>
                    <div class="name">内衣</div>
                    <div class="fontclass">.icon-neiyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yundongxie"></i>
                    <div class="name">运动鞋</div>
                    <div class="fontclass">.icon-yundongxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qunzi"></i>
                    <div class="name">裙子</div>
                    <div class="fontclass">.icon-qunzi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liwu"></i>
                    <div class="name">礼物</div>
                    <div class="fontclass">.icon-liwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wanju"></i>
                    <div class="name">碗具</div>
                    <div class="fontclass">.icon-wanju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pixie"></i>
                    <div class="name">皮鞋</div>
                    <div class="fontclass">.icon-pixie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lianyiqun"></i>
                    <div class="name">连衣裙</div>
                    <div class="fontclass">.icon-lianyiqun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianshiji"></i>
                    <div class="name">电视机</div>
                    <div class="fontclass">.icon-dianshiji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gaogenxie"></i>
                    <div class="name">高跟鞋</div>
                    <div class="fontclass">.icon-gaogenxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-diaodai"></i>
                    <div class="name">吊带</div>
                    <div class="fontclass">.icon-diaodai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-nvbao"></i>
                    <div class="name">女包</div>
                    <div class="fontclass">.icon-nvbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yundong"></i>
                    <div class="name">运动</div>
                    <div class="fontclass">.icon-yundong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kuzi"></i>
                    <div class="name">裤子</div>
                    <div class="fontclass">.icon-kuzi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shafa"></i>
                    <div class="name">沙发</div>
                    <div class="fontclass">.icon-shafa</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-naiping"></i>
                    <div class="name">奶瓶</div>
                    <div class="fontclass">.icon-naiping</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tushu"></i>
                    <div class="name">图书</div>
                    <div class="fontclass">.icon-tushu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiezhi"></i>
                    <div class="name">戒指</div>
                    <div class="fontclass">.icon-jiezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoubiao"></i>
                    <div class="name">手表</div>
                    <div class="fontclass">.icon-shoubiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bijiben"></i>
                    <div class="name">笔记本</div>
                    <div class="fontclass">.icon-bijiben</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xizhuang"></i>
                    <div class="name">西装</div>
                    <div class="fontclass">.icon-xizhuang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-muma"></i>
                    <div class="name">木马</div>
                    <div class="fontclass">.icon-muma</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yaopin"></i>
                    <div class="name">药品</div>
                    <div class="fontclass">.icon-yaopin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinshenger"></i>
                    <div class="name">新生儿</div>
                    <div class="fontclass">.icon-xinshenger</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huapen"></i>
                    <div class="name">花盆</div>
                    <div class="fontclass">.icon-huapen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouna"></i>
                    <div class="name">收纳</div>
                    <div class="fontclass">.icon-shouna</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bijia"></i>
                    <div class="name">比价</div>
                    <div class="fontclass">.icon-bijia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinyongqiahuankuan"></i>
                    <div class="name">信用卡还款</div>
                    <div class="fontclass">.icon-xinyongqiahuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuidianmei"></i>
                    <div class="name">水电煤</div>
                    <div class="fontclass">.icon-shuidianmei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujichongzhi"></i>
                    <div class="name">手机充值</div>
                    <div class="fontclass">.icon-shoujichongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caipiao"></i>
                    <div class="name">彩票</div>
                    <div class="fontclass">.icon-caipiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kuaidi"></i>
                    <div class="name">快递</div>
                    <div class="fontclass">.icon-kuaidi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontchaoshi"></i>
                    <div class="name">超市</div>
                    <div class="fontclass">.icon-iconfontchaoshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfont12306"></i>
                    <div class="name">12306</div>
                    <div class="fontclass">.icon-iconfont12306</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huoche"></i>
                    <div class="name">火车 </div>
                    <div class="fontclass">.icon-huoche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiayou"></i>
                    <div class="name">加油</div>
                    <div class="fontclass">.icon-jiayou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconcar"></i>
                    <div class="name">汽车</div>
                    <div class="fontclass">.icon-iconcar</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-licai-copy"></i>
                    <div class="name">理财</div>
                    <div class="fontclass">.icon-licai-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chexian"></i>
                    <div class="name">车险</div>
                    <div class="fontclass">.icon-chexian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-waimai"></i>
                    <div class="name">外卖</div>
                    <div class="fontclass">.icon-waimai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianying"></i>
                    <div class="name">电影</div>
                    <div class="fontclass">.icon-dianying</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiudian"></i>
                    <div class="name">酒店</div>
                    <div class="fontclass">.icon-jiudian</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
