<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站标题</title>
    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/css/style.css">
    
</head>
<body>
    <!--<div id="top">
        <div class="layout">
            2016年12月5日，距离元旦还有25天 打算出行的你该<a href="#">订机票</a>了
        </div> 
    </div>-->
    <header>
        <div class="layout clear" id="head">
            <div class="head_left">
            <a href="<?=site_url();?>">
                <img src="<?=base_url();?>static/image/logo.png" />
            </a>
            </div>
            <div class="head_right">
                <div id="search_box">
                    <form>
                        <input type="text" name="search" id="search_bar" placeholder="搜索" tabindex="1" onkeyup="show_search_list(this.value)" oninput="show_search_list(this.value)">
                    </form>
                    <div id="search_list" class="hidden">

                    </div>
                </div>
            </div>
        </div>
    </header>