<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><?=$this->site['title'];?></title>
    <meta name="Keywords" content="<?=$this->site['keywords'];?>" />
    <meta name="description" content="<?=$this->site['description'];?>" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="<?=base_url();?>static/css/style.css">
</head>
<body>
    <!--<div id="top">
        <div class="layout">
        </div>
    </div>-->
    <header>
        <div class="layout clear" id="head">
            <div class="head_left">
            <a href="<?=site_url();?>">
                <img src="<?=base_url();?>static/image/logo.png" />
            </a>
            </div>
            <div class="head_right">
                <div id="search_box">
                    <form>
                        <input type="text" name="search" id="search_bar" placeholder="搜索" tabindex="1" onkeyup="show_search_list(this.value)" oninput="show_search_list(this.value)">
                    </form>
                    <div id="search_list" class="hidden">

                    </div>
                </div>
            </div>
        </div>
    </header>