
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488874492990'); /* IE9*/
  src: url('iconfont.eot?t=1488874492990#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488874492990') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488874492990') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488874492990#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-waimai:before { content: "\f0039"; }

.icon-dianyingpiao:before { content: "\f027e"; }

.icon-more:before { content: "\e677"; }

.icon-licai:before { content: "\e613"; }

.icon-bijia:before { content: "\e60d"; }

.icon-xinyongqiahuankuan:before { content: "\e604"; }

.icon-shuidianmei:before { content: "\e606"; }

.icon-shoujichongzhi:before { content: "\e607"; }

.icon-jipiao:before { content: "\e60c"; }

.icon-caipiao:before { content: "\e611"; }

.icon-kuaidi:before { content: "\e614"; }

.icon-iconfont12306:before { content: "\e601"; }

.icon-huoche:before { content: "\e68b"; }

.icon-more1:before { content: "\e64e"; }

.icon-jiayou:before { content: "\e605"; }

.icon-huoche1:before { content: "\e629"; }

.icon-wodefankui:before { content: "\e656"; }

.icon-baoxian:before { content: "\e6c8"; }

.icon-chexian:before { content: "\e618"; }

.icon-chaoshi:before { content: "\e603"; }

.icon-bijiachaxun:before { content: "\e608"; }

.icon-qiche:before { content: "\e641"; }

.icon-jiudian:before { content: "\e64c"; }

.icon-shoucang:before { content: "\e8c2"; }

.icon-xihuan-xianxing:before { content: "\e8c3"; }

.icon-shoucang-xianxing:before { content: "\e8c4"; }

.icon-xihuan:before { content: "\e8c5"; }

