* {
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    font-size:14px;
    font-family: 'microsoft yahei';
}
a{
    color:#555;
}
/* 清除浮动 */
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear{zoom:1} 
/* 清除浮动end */
body{
    background-color: #f6f6f9;
}
.hidden{
    display:none;
}
.show{
    display: block;
}
#top {
    height:20px;
    line-height: 20px;
    width:100%;
    border-bottom: 1px solid #eee;
    background-color: white;
}
header{
    width:100%;
    min-width: 1200px;
    height:100px;
    background-color: #bf2921;
    /*background-color: white;*/
}
#head .head_left{
    float: left;
    width:340px;
    padding-top:20px;
}
#head .head_left img{
    height:60px;
}
#head .head_right{
    float: right;
    width:840px;

}

/*搜索框*/
#head .head_right form{
    margin-top: 30px;
}
#head #search_box{
    width:500px;
    margin:0 auto;
}
#head .head_right input{
    width:100%;
    height:36px;
    padding:0 5px;
    outline:none;
    line-height: 40px;
    font-size: 20px;
    color:#777;
    border: 2px solid white;
}
#head #search_box #search_list {
    border:2px solid #ddd;
    background-color: white;
    position: absolute;
    z-index: 999;
    width:510px;
}

#head #search_box #search_list a {
    display: block;
    height:30px;
    line-height: 30px;
    padding:0 5px;
    
    outline:none;
}
#head #search_box #search_list .searcher{
    border-bottom: 1px dashed #ddd;
}
#head #search_box #search_list .searcher:focus {
    background-color: #ddd;
}
#head #search_box #search_list .searcher:hover {
    background-color: #ddd;
}
#head #search_box #search_list a span{
    display: inline-block;
    overflow: hidden;
}
#head #search_box #search_list a span:first-child{
    width:450px;
}
/* 搜索框end*/
footer{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size:13px;
    color:#777;
}
.layout{
    width:1200px;
    height:auto;
    margin:0 auto;
}
#hot{
    width:100%;
    /*border:1px solid #ddd;*/
    margin-bottom:15px;
    margin-top:20px;
    background-color: white;
}
#hot ul li{
    float:left;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #f6f6f9; 
    border-right:1px solid #f6f6f9;
}
#hot ul li:hover{
    border: 1px solid red; 
    margin-left: -1px;
    margin-top:-1px;
}
#hot ul li a{
    display: block;
}
#hot ul li img{
    width:119px;
    height:40px;
    margin:15px;
}
#list {
    float:left;
    width:880px;
    /*border:1px solid #ddd;*/
    background-color: white;
    padding:10px 0;
}
#list dl{
    height:35px;
    line-height: 35px;
    overflow: hidden;
}
#list dl:nth-of-type(even){
    background-color: #fbfbfb;
}
#list dl dt,dd{
    float:left;
    text-align: center;
}

#list dl a{
    display: block;   
}
#list dl dd a:hover{
    color:#bf2921;
    text-decoration:underline;
}
#list dl dt{
    width:90px;

}
#list dl dt a{
    color:#bf2921;
    font-size:15px;
}
#list dl dt a:hover{
    font-size: 17px;
}
#list dl dd{
    width:120px;
}
#list dl dd:last-child{
    width:70px;
}
.more{
    color:#888;
    float:right;
}
#aside{
    float:right;
    width:300px;
 /*   border:1px solid #ddd;*/
    background-color: white;
}
/*#aside .link li{
    float:left;
    width:75px;
}
#aside .link li a {
    display: block;
    text-align: center;
    margin: 5px;
    padding:5px;
    background-color: #f3f3f3;
}
#aside .highlight{
    color:red;
}
#aside .link li a:hover{
    color:white;
    background-color: #bf2921; 
}*/
#aside .link{
 
}
#aside .link li {
    float:left;
    width:75px;
    
    text-align: center;
}

#aside .link .iconfont{ 
    font-size: 40px;
    /*color:#bf2921;*/
}
#aside .link a span{
    display: block;
}
#aside .link a{
    display: block;
    height:75px;
    color:white;
    padding-top: 5px;
}
#aside .link a:hover{
    background-color: white;
}
#aside .link .kuaidi{
    background-color: #009f96;
}
#aside .link .kuaidi:hover{
    color:#009f96;
}
#aside .link .shoujichongzhi{
    background-color: #027bd6;
}
#aside .link .shoujichongzhi:hover{
    color:#027bd6;
}
#aside .link .shuidianmei{
    background-color: #a26742;
}
#aside .link .shuidianmei:hover{
    color:#a26742;
}
#aside .link .huoche{
    background-color: #244d83;
}
#aside .link .huoche:hover{
    color:#244d83;
}
/*color: #de4a5f #1fb0b5 #38c26f #8473e1 #f77d8f #eaa62f #5d98e8 #7175e0 #c44ade #3aacdf #eb4d43*/
/*
女装 #ff5b79
美妆 #e21c5e
鞋   #b86837
户外 #29bcc9
运动 #67b5ff
母婴 #d8b4d3
食品 #ec7002
手机 #027bd6
厨具 #a26041
家居 #be794e
生鲜 #83d34a
*/

/*工具*/
#aside .tools{
    border-top: 1px solid #eee;
}
#aside .tools li{
    float:left;
    width:59px;
    border-bottom: 1px solid #f6f6f9;
    border-right: 1px solid #f6f6f9;
}
#aside .tools li a {
    display: block;
    text-align: center;
    margin:10px 0;
}

#aside .tools li a span{
    display: block;
    font-size:10px;
    color:#777;
}

.tools .iconfont{
    font-size:25px;
    line-height: 30px;
    color:#888;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}
.tools .iconfont:hover{
  font-size: 30px;
  color:#666;
}

/*商家列表页*/
#main h4{
    height: 40px;
    line-height: 40px;
    font-size:20px;
    color:#2a2a2a;
    margin-top: 10px;
}
#content {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.item{
    width:150px;
    margin:10px 10px;
    float:left;
    text-align: center;
}

.item:hover{
    background-color: #eee;
}
.item a{
    display: block;
    padding:10px 5px;
}
.item img{
    width:120px;
    height:40px;
}

.item span{
    height:25px;
    line-height: 35px;
    overflow: hidden;
    display: block;
}
.item div{
    display: none;
    text-align: left;
    overflow: hidden;
    color:#888;
}