* {
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    font-size:14px;
    font-family: 'microsoft yahei';
}
a{
    color:#555;
}
/* 清除浮动 */
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear{zoom:1} 
/* 清除浮动end */
.hidden{
    display:none;
}
.show{
    display: block;
}
#top {
    height:20px;
    line-height: 20px;
    width:100%;
    border-bottom: 2px solid #ccc;
    border-top: 1px solid #ccc;
}
header{
    width:100%;
    height:100px;
    /*background-color: #bf2921;*/
    margin-bottom: 20px;
}
#head .head_left{
    float: left;
    width:30%;
}
#head .head_right{
    float: right;
    width:70%;

}


/*搜索框*/
#head .head_right form{
    margin-top: 30px;
}
#head #search_box{
    width:500px;
    margin:0 auto;
}
#head .head_right input{
    width:500px;
    height:40px;
    padding:0 5px;
    outline:none;
}
#head #search_box #search_list {
    border:1px solid #ddd;
    background-color: white;
    position: absolute;
    z-index: 999;
    width:498px;
}

#head #search_box #search_list a {
    display: block;
    height:30px;
    line-height: 30px;
    padding:0 5px;
    border-bottom: 1px dashed #ddd;
    outline:none;
}
#head #search_box #search_list .searcher:focus {
    background-color: #ddd;
}
#head #search_box #search_list .searcher:hover {
    background-color: #ddd;
}
#head #search_box #search_list a span{
    display: inline-block;
    overflow: hidden;
}
#head #search_box #search_list a span:first-child{
    width:450px;
}
/* 搜索框end*/
footer{
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: #eee;
    text-align: center;
    margin-top:15px;
    font-size:13px;
    color:#777;
}
.layout{
    width:1200px;
    height:auto;
    margin:0 auto;
}
#hot{
    width:100%;
    border:1px solid #ddd;
    margin-bottom:20px;
}
#hot ul li{
    float:left;
    position: relative;
    text-align: center;
    width:120px;
    margin:15px 15px;
}
#hot ul li a{
    display: block;
}
#hot ul li img{
    width:120px;
    height:40px;
}
#list {
    float:left;
    width:880px;
    border:1px solid #ddd;
}
#list dl{
    height:35px;
    line-height: 35px;
    overflow: hidden;
}
#list dl dt,dd{
    float:left;
    text-align: center;
}

#list dl a{
    display: block;   
}
#list dl dd a:hover{
    color:red;
}
#list dl dt{
    width:90px;
}
#list dl dt a{
    color:#bf2921;

}
#list dl dd{
    width:120px;
}
#list dl dd:last-child{
    width:70px;
}

#aside{
    float:right;
    width:300px;
    border:1px solid #ddd;
}
#aside .link li{
    float:left;
    width:75px;
}
#aside .link li a {
    display: block;
    text-align: center;
    margin:12px 0;
}
#aside .highlight{
    color:red;
}
#aside .link li a span{
    display: block;
    margin-top:5px;
}
#aside .cx_list li{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

/*商家列表页*/
#content {
    width: 100%;
    overflow: hidden;
    border:1px solid #ddd;
}
#content h4{
    height: 30px;
    line-height: 30px;
    font-size:15px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    color:#555;
}
.item{
    width:120px;
    /*height:150px;*/
    border:1px solid #ddd;
    padding:10px 14.5px;
    float:left;
    margin: 10px;
    text-align: center;
}
.item img{
    width:120px;
    height:40px;
}
.item a{
    display: block;
}
.item .name{
    height:20px;
    line-height: 20px;
}
.item div{
    display: none;
    text-align: left;
    overflow: hidden;
    color:#888;
}