* {
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
}
.clear{
    clear:both;
}
header{
    width:100%;
    height:100px;
    background-color: #eee;
}

footer{
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: #ddd;
    text-align: center;
}
.layout{
    width:1200px;
    height:auto;
    margin:0 auto;
}
#hot{
    width:100%;
    border:1px solid #ddd;
    margin-bottom:20px;
}
#hot ul li{
    float:left;
    position: relative;
}
#hot a{
    width:133px;
    height:80px;
    
    display: block;
}
#list {
    float:left;
    width:60%;
    border:1px solid #eee;
}
#list ul{
    width:100%;
    height:30px;
}
#list ul li{
    float:left;
    text-align: center;
}
#list ul li:first-child{
    width:100px;
}
#aside{
    float:right;
    width:35%;
    border:1px solid #eee;
}
