<!DOCTYPE html>
<html>
<head>
    <title>merchant add</title>
</head>
<body>
<form action="<?=site_url('merchant/add_action');?>" method="post">
<table>
    <tr>
        <td>商家ID</td>
        <td><input type="text" name="site_id"></td>
    </tr>
    <tr>
        <td>商家名称</td>
        <td><input type="text" name="site_name"></td>
    </tr>
    <tr>
        <td>商家分类</td>
        <td>
        <select name="category_id" id="">
            <?php foreach ($category as $val) : ?>
            <option value="<?=$val->id;?>"><?=$val->name;?></option>
            <?php endforeach; ?>
        </select>
        </td>
    </tr>
    <tr>
        <td>商家网址</td>
        <td><input type="text" name="site_url"></td>
    </tr>
    <tr>
        <td>推广网址</td>
        <td><input type="text" name="tuiguang_url"></td>
    </tr>
    <tr>
        <td>logo地址</td>
        <td><input type="text" name="logo_url"></td>
    </tr>
    <tr>
        <td>简介</td>
        <td><textarea name="short_desc"></textarea></td>
    </tr>
    <tr>
        <td>权重</td>
        <td><input type="text" name="weight"></td>
    </tr>
    <tr>
        <td>是否热门</td>
        <td><select name="hot">
            <option value="N">否</option>
            <option value="Y">是</option>
        </select></td>
    </tr>
    <tr>
        <td>备注</td>
        <td><input type="text" name="remarks"></td>
    </tr>
    <tr>
        <td>状态</td>
        <td><select name="status">
            <option value="Y">启用</option>
            <option value="N">禁用</option>
        </select></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" name="" value="提交"></td>
    </tr>
</table>
</form>
</body>
</html>