<div class="layout clear" id="main">
        <div id="hot">
        <ul class="clear">
            <?php foreach($hot as $k=>$v): ?>
            <li>
                <a href="<?=choice($v->site_url,$v->tuiguang_url);?>" target="_blank">
                    <img alt="<?=$v->site_name;?>" width="119" height="40" src="<?=base_url();?>static/image/m/<?=$v->logo_url;?>">
                </a>
            </li>
            <?php endforeach;?>

        </ul>
        </div>
            <!--列表区域-->
            <div id="list">
                <?php foreach($list as $v): ?>
                <dl>
                    <dt><a href="<?=site_url('merchant/show/'.$v['category_id']);?>"><?=$v['category_name'];?></a></dt>
                    <?php foreach($v['list'] as $l): ?>
                    <dd><a href="<?=choice($l->site_url,$l->tuiguang_url);?>" target="_blank"><?=$l->site_name;?></a></dd>
                    <?php endforeach; ?>
                    <dd class="more">
                        <a  href="<?=site_url('merchant/show/'.$v['category_id']);?>">>></a>
                    </dd>
                </dl>
            <?php endforeach; ?>
                
            </div>
            <!--列表区域end-->
            <!--侧边栏-->
            <aside id="aside">
                <!--快速链接-->
                <ul class="clear link">
                    <?php foreach($quick_link as $v): ?>
                    <li>
                        <a href="<?=choice($v->url,$v->tuiguang_url);?>" target="_blank" class="<?=$v->iconfont_code;?>">
                            <i class="iconfont icon-<?=$v->iconfont_code;?>"></i>
                            <span><?=$v->name;?></span>
                        </a>
                    </li>
                    <?php endforeach;?>   
                </ul>
                <!-- 快速链接end -->
               
                <!--工具-->
                <ul class="clear tools"> 
                    <li><a href="http://www.kuaidi100.com/" target="_blank"><i class="iconfont icon-kuaidi"></i><span>快递查询</span></a></li> 
                    <li><a href="http://chongzhi.jd.com/" target="_blank"><i class="iconfont icon-shoujichongzhi"></i><span>手机充值</span></a></li>
                    <li><a href="https://jiaofei.alipay.com/jiaofei.htm?_pdType=aecfbbfgeabbifdfdieh&_scType=bacfajegafddadijhagd" target="_blank"><i class="iconfont icon-shuidianmei"></i><span>水电燃气</span></a></li>        
                    <li><a href="http://train.qunar.com/" target="_blank"><i class="iconfont icon-huoche"></i><span>火车票</span></a></li> 
                    <li><a href="http://flights.ctrip.com/" target="_blank"><i class="iconfont icon-feiji2"></i><span>飞机票</span></a></li>         
                    <li><a href="https://caipiao.taobao.com/" target="_blank"><i class="iconfont icon-caipiao"></i><span>彩票</span></a></li>         
                    <li><a href="http://waimai.meituan.com/" target="_blank"><i class="iconfont icon-waimai"></i><span>外卖</span></a></li>                
                    <li><a href="https://chaoshi.jd.com/" target="_blank"><i class="iconfont icon-iconfontchaoshi"></i><span>超市</span></a></li>        
                    <li><a href="#" target="_blank"><i class="iconfont icon-chexian"></i><span>车险</span></a></li>
                    <li><a href="https://dianying.nuomi.com/" target="_blank"><i class="iconfont icon-dianying"></i><span>电影票</span></a></li>
                    <li><a href="#" target="_blank"><i class="iconfont icon-licai-copy"></i><span>理财</span></a></li>
                    <li><a href="#" target="_blank"><i class="iconfont icon-bijia"></i><span>购物比价</span></a></li>
                    <li><a href="https://ccrprod.alipay.com/ccr/repayPub.htm" target="_blank"><i class="iconfont icon-xinyongqiahuankuan"></i><span>还信用卡</span></a></li>
                    <li><a href="http://hotel.elong.com/" target="_blank"><i class="iconfont icon-jiudian"></i><span>酒店</span></a></li> 
                    <li><a href="#" target="_blank"><i class="iconfont icon-jiayou"></i><span>加油卡</span></a></li> 
                </ul>
                <!--工具end-->
                 <!--adv-->
                <div id="adv">
                    <?php if ($adv['code']) {?>
                        <?=$adv['code'];?>
                    <?php }else{ ?>
                    <a href="<?=$adv['url']?>" title="<?=$adv['title']?>" target="_blank">
                        <img src="<?=base_url();?>static/image/adv/300-100/<?=$adv['img']?>" width=300 height=100>
                    </a>
                    <?php } ?>
                </div>
                <!--adv end-->
            </aside>
            <!--侧边栏end-->
    </div>
   
