<div class="layout clear" id="main">
        <div id="hot">
        <ul class="clear">
            <?php foreach($hot as $k=>$v): ?>
            <li>
                <a href="<?=choice($v->site_url,$v->tuiguang_url);?>" target="_blank">
                    <img src="<?=base_url();?>static/image/m/<?=$v->logo_url;?>">
                </a>
            </li>
            <?php endforeach;?>

        </ul>
        </div>
            <!--列表区域-->
            <div id="list">
                <?php foreach($list as $v): ?>
                <dl>
                    <dt><a href="<?=site_url('merchant/show/'.$v['category_id']);?>"><?=$v['category_name'];?></a></dt>
                    <?php foreach($v['list'] as $l): ?>
                    <dd><a href="<?=choice($l->site_url,$l->tuiguang_url);?>" target="_blank"><?=$l->site_name;?></a></dd>
                    <?php endforeach; ?>
                    <dd>
                        <a class="more" href="<?=site_url('merchant/show/'.$v['category_id']);?>">>></a>
                    </dd>
                </dl>
            <?php endforeach; ?>
                
            </div>
            <!--列表区域end-->
            <!--侧边栏-->
            <aside id="aside">
                <!--快速链接-->
                <ul class="clear link">
                    <?php foreach($quick_link as $v): ?>
                    <li>
                        <a href="<?=choice($v->url,$v->tuiguang_url);?>" target="_blank">
                            <img src="<?=base_url();?>static/image/l/<?=$v->image;?>">
                            <span class="<?=$v->highlight=='Y'?'highlight':'';?>"><?=$v->name;?></span>
                        </a>
                    </li>
                    <?php endforeach;?>
                </ul>
                <!-- 快速链接end -->
                <!--工具-->
                <ul class="clear tools">
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>手机充值</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>水电燃气</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>火车票</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>飞机票</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>彩票</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>外卖</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>超市</span></a></li>                
                    <li><a href="#"><img src="<?=base_url()?>static/image/l/phone.png" alt="tools"><span>车险</span></a></li>                
                </ul>
                <!--工具end-->
                <!--促销信息-->
                <!--
                <h4>促销信息</h4>
                <ul class="cx_list">
                    <?php foreach($new_activity as $a) : ?>
                    <li class="xian1">
                        <a href="<?=$a->id;?>">
                        <?=$a->title;?>
                        </a>
                    </li>
                    <?php endforeach;?> 
                </ul>
                -->
                <!--促销信息end-->
            </aside>
            <!--侧边栏end-->
    </div>
