
    <div class="layout" id="main">
    <div id="content">
        <h4>综合商城</h4>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>
        <div class="item">
            <a href="#" ><img src="../static/image/m/360buy.gif" alt=""></a>
            <a class="name" href="#">京东</a>
            <div>hehehehehehehhehaha哈哈分收费但是</div>
        </div>

        <div class="clear"></div>
        </div>
    </div>
